# =========================
# Maven
# =========================
target/
*.jar
*.war
*.class

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# =========================
# VS Code Java
# =========================
.factorypath

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Spring Boot
# =========================
spring.log

# =========================
# IntelliJ
# =========================
out/

# =========================
# Eclipse
# =========================
bin/